* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a,
a:visited {
  outline: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.header {
  text-align: center;
}

.nav {
  width: 500px;
  margin: 20px auto;
  max-width: 48em;
  border-left: none;
  border-right: none;
  text-align: left;
}

.menu {
  display: inline-block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: background .15s ease-in;
}

.menu:hover {
  background: #ddd;
}

.menu.is-active {
  background: #ddd;
}

.info {
  margin-top: 40px;
  text-align: center;
}

.selected {
  margin-left: 5px;
  padding: 5px 10px;
  vertical-align: middle;
  border-radius: 4px;
  background: #ddd;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5em;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.background {
  min-height: 100vh;
  min-width: 100vw;
}

.Light {
  background-color: #fff;
}

.Blue {
  background-color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}